.hero-content,
.logo,
.navbar,
.nav-buttons {
    position: relative;
    z-index: 1;
}

.navbar-toggler {
    border-color: white;
    /* a gomb kerete fehér lesz */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


a {
    text-decoration: none;
}

.divider-top {
    width: 100%;
    height: 10px;
    overflow: hidden;
    line-height: 0;
    background-color: #92B4B8;
}

.divider-top svg {
    display: block;
    width: 100%;
    height: 100%;
}


button {
    width: auto;
    padding: 6px 12px;
    border: black 1px solid;
    border-radius: 6px;
    font-family: 'Exo 2';
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-primary {
    background-color: #6C485C;
    color: white;
}

.button-secondary {
    background-color: #EEE8DC;
    color: black;
}

.button-primary:hover {
    background-color: #d49eb9;
    color: white;
}

.button-secondary:hover {
    background-color: #A39DCD;
    color: white;
}

.bg-cream {
    background-color: #EEE8DC;
}

.bg-blue {
    background-color: #92B4B8;
}

.bg-purple {
    position: relative;
    background-color: #6C485C;
    color: white;
}

.bg-light-purple {
    position: relative;
    background-color: #CECBE6;
    color: white;
}

#navbarNav {
    justify-content: center;
}

.nav-link {
    color: white;
    font-family: 'Courgette';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.nav-link:hover {
    color: #A39DCD;

}

.nav-buttons {
    position: absolute;
    right: 20px;
}

.nav-item:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    /* vagy amit szeretnél */
    padding-left: 1rem;
    margin-left: 1rem;
}


.logo {
    display: block;
    height: 100px;
    margin: 0 auto;
}

.hero {
    z-index: 1;
    position: relative;
    height: 100vh;
    /* Teljes magasság */
    overflow: hidden;
    background-color: black;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: blur(2px);
    /* Kitölti a hátteret */
    z-index: 0;
    /* Háttérbe kerül */
}

.hero-content {
    margin-top: 90px;
}

.hero-content h1 {
    font-size: 80px;
    font-family: 'Courgette';
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.hero-content h2 {
    font-size: 40px;
    font-family: 'Exo 2';
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.hero-content button {
    display: block;
    margin: 40px auto 0 auto;
}

.first-divider {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 132%;
    line-height: 0;
    z-index: 1;
    overflow: hidden;
    transform: translateX(-19.5%);
    /* középre igazítás, ha kell */
}

.first-divider img {
    display: block;
    width: 100%;
    height: auto;
}

.introducing {
    padding-bottom: 50px;
}



.introducing h1 {
    padding-top: 70px;
    margin-bottom: 50px;
    font-family: 'Courgette';
    font-size: 60px;
    text-align: center;
    color: #6C485C;
}

.introducing p {
    font-size: 18px;
    font-family: 'Libre Baskerville';
    text-align: justify;
    color: rgba(0, 0, 0, 0.51);
}

.introducing .col-lg {
    padding: 0 50px;
}

.introducing button {
    display: block;
    width: 150px;
}

.contact-container {
    margin-top: 50px;
}

.profile-container {
    display: flex;
}

.profile-container img {
    margin-left: 20px;
    height: 117px;
    border: white 5px solid;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.profile-name {
    margin-top: 35px;
}

.profile-container p {
    margin: -5px;
    font-family: 'Courgette';
}

.profile-name .name {
    color: #6C485C;
    font-size: 22px;
}

.profile-name .profession {
    color: #6c485c96;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 80px;
}

.introducing .card-container {
    margin-top: 100px;
}


.card-container p {
    text-align: center;
    font-family: 'Courgette';
    color: #6C485C;
    font-size: 32px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.image-container img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.image-container img:hover {
    opacity: 0.2;
    transform: scale(1.1);

}



.image-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6C485C;
    font-family: 'Libre Baskerville';
    font-size: 17px;
    text-align: center;
    padding: 20px;
    width: 300px;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;


}

.image-container:hover .overlay-text {
    opacity: 1;
}

.benefits {
    padding-top: 50px;
    color: white;
}

.benefits h1,
.bg-purple h1 {
    text-align: center;
    font-family: 'Courgette';
    font-size: 60px;
    margin-bottom: 50px;
}

.benefit-container {
    text-align: center;
    font-family: 'Exo 2';
}

.benefit-container h2 {
    margin: 15px 0 5px 0;
    font-size: 21px;
    font-weight: bold;
}

.benefit-container p {
    font-size: 17px;
}

.benefit-container img {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-shape-divider-top-1745653202 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-separator {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #92B4B8;
}

.wave-separator svg {
    display: block;
    width: 100%;
    height: 100px;
}

.bg-purple h1 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 20px;
}

.bg-purple h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Exo 2';
    opacity: 0.7;
    width: 70%;
}

.bg-purple p {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 24px;
    font-family: 'Exo 2';
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.bg-purple img {
    width: 30px;
    filter: brightness(0) invert(1);
    flex-shrink: 0;
    margin-top: 3px;
}

.bg-purple button {
    font-size: 20px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: white;

}

.vr {
    position: absolute;
    width: 10px;
    background-color: white;
    opacity: 0.7;
    height: 320px;
    margin: 0 20px;
    right: 180px;
    bottom: 100px;
}

.infinite-carousel {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #EEE8DC;
    padding: 20px 0;
}

.carousel-track {
    display: inline-block;
    animation: scroll 30s linear infinite;
}

.infinite-carousel:hover .carousel-track {
    animation-play-state: paused;
}

.carousel-track img {
    height: 250px;
    margin: 0 15px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px black solid;
}


#opinions h1 {
    font-size: 55px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Courgette';
    color: #6C485C;
}

#opinions h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: 'Exo 2';
    width: 70%;
    color: #6c485ccd;
}

#opinions .card {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #6c485c1c;
    /*box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);*/
    border: #6c485ca7 3px solid;
    border-radius: 12px;

}

#opinions .row {
    display: flex;
    flex-wrap: wrap;
    /* Több sorba törhetnek az elemek */
    justify-content: flex-start;
    /* Balra igazítás, amikor több elem van */
}



#opinions .row > .col-12:last-child {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* Középre igazítja az utolsó elemet, ha egyedül van a sorban */
}



#opinions .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#opinions .left {
    display: flex;
    flex-direction: column;
}

#opinions .left p {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

#opinions .rating {
    display: flex;
    flex-direction: row;
}

#opinions .rating img {
    width: 20px;
    margin-right: -5px;
}

#opinions .google {
    width: 25px;
    margin-bottom: 24px;
}

#opinions .google-tooltip {
    position: relative;
    display: inline-block;
}

#opinions .google-tooltip .google-tooltip-text {
    visibility: hidden;
    /* Maximum szélesség megadása, hogy ne legyen túl széles */
    width: 272px;
    /* Az alapértelmezett szélesség automatikusan igazodik */
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Tooltip az ikon fölött */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#opinions .google-tooltip:hover .google-tooltip-text,
#opinions .google-tooltip-text:hover {
    visibility: visible;
    opacity: 1;
}

#opinions .google-tooltip .google-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Nyíl a tooltip alján */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Bal oldalra igazítás */
#opinions .left-tooltip .google-tooltip-text {
    left: auto;
    right: 0;
    transform: none;
    /* Elhelyezés balra */
}

#opinions .left-tooltip .google-tooltip-text::after {
    left: auto;
    right: 2%;
    /* A nyíl a balra igazított tooltiphez igazodik */
    transform: none;
    /* A nyíl nem tolódik el balra igazításkor */
}


#opinions .text {
    margin-top: 10px;
    font-family: 'Libre Baskerville';
}

#opinions button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opinions-button {
    padding-bottom: 4px;
}


.second-divider {
    display: block;
    width: 100%;
    max-width: none;
    line-height: 0;
    z-index: 1;
    overflow: hidden;
    margin: -2px auto -20px auto;
    /* itt növeld a felső margót */
}



#form h1 {
    padding-top: 150px;
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: 'Courgette';
}

#form h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: 'Exo 2';
    width: 70%;
    color: rgba(255, 255, 255, 0.793);
}

#form h3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    font-family: 'Exo 2';
    width: 70%;
    color: rgb(255, 255, 255);
}

.bg-blue {
    padding-bottom: 30px;
}

.date-text {
    font: 3.3vw Montserrat, sans-serif;
    padding-top: 60px;
    text-align: center;
}

.form-bg {
    position: relative;
    display: block;
    height: auto;
    width: 40%;
    margin: 50px auto 40px auto;
    padding-top: 30px;
    background-color: #f7f7f791;
    border-radius: 18px;
    border: rgba(255, 255, 255, 0.732) 5px solid;
}

.form-gender {
    margin-bottom: 20px;
}


form ::placeholder {
    opacity: 0.8;
    font-size: 0.9em;
}

form label {
    margin-left: 40px;
    margin-top: 20px;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: block;
    width: 85%;
    font: 1em Montserrat, sans-serif;
    margin: 5px auto 20px auto;
    padding: 10px 0 10px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(165, 165, 165);
}

input[type="date"] {
    display: block;
    width: 85%;
    font: 1em Montserrat, sans-serif;
    margin: 5px auto 20px auto;
    padding: 10px 12px;
    /* itt legyen oldalt is padding */
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(165, 165, 165);
    background-color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.date-input:invalid {
    color: #919191;
}

.date-input:valid {
    color: #919191;
}



input[type=text]:focus,
input[type=email]:focus {
    border: none;
}


.radio,
.checkbox {
    margin: 25px 0 0 10px;
}

input[type='radio'],
input[type='checkbox'] {
    accent-color: #00442F;
}

hr {
    display: none;
}

textarea {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(165, 165, 165);
}


#reszletek {
    font-family: Montserrat, sans-serif;

}

#reszletek-label {
    margin: 10px 0;
}

input[type=submit] {
    display: block;
    margin: 30px auto 15px auto;
    width: 100px;
    padding: 6px 12px;
    border: black 1px solid;
    border-radius: 6px;
    font-family: 'Exo 2';
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type=submit] {
    background-color: #6C485C;
    color: white;
}

input[type=submit]:hover {
    background-color: #d49eb9;
    color: white;
}


input[type=submit]:active {
    background-color: #e7e7e7;

}

#footer {
    padding: 50px 0;
    color: #7C7498;
    font-family: 'Exo 2', sans-serif;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* Bal oldal */
.footer-left {
    flex: 1;
    min-width: 280px;
}

.footer-logo {
    height: 80px;
    margin-bottom: 15px;
}

.footer-left h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 16px;
    line-height: 1.6;
}

/* Jobb oldal */
.footer-right {
    flex: 1;
    min-width: 280px;
}

.footer-right h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-icons p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin: 8px 0;
}

.footer-icons {
    display: flex;
}

.icons-left {
    margin-right: 30px;
}

.icons-right a {
    text-decoration: none;
    color: inherit;
    display: block;
}


.icons-right img {
    width: 22px;
    height: 22px;
}


.footer-icons img {
    height: 22px;
    width: 22px;
}

.footer-map iframe {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1200px) {
    .image-container .overlay-text {
        padding: 0 45px;
    }
}

@media (max-width: 992px) {
    .image-container .overlay-text {
        padding: 0 20px;
    }
}

@media (max-width: 926px) {
    .hero-content h1 {
        font-size: 68px;
    }

    .hero-content h2 {
        font-size: 34px;
    }

    .carousel-track img {
        height: 200px;
    }

    .first-divider {
        width: 200%;
    }
}

@media (max-width: 768px) {
    .image-container .overlay-text {
        padding: 0 45px;
    }

    .hero-content h1 {
        font-size: 60px;
    }

    .hero-content h2 {
        font-size: 30px;
    }
}

@media(max-width: 750px) {
    .first-divider {
        width: 250%;
    }

    .introducing h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .carousel-track img {
        height: 180px;
    }

    .contact-button {
        justify-content: center;
        margin-right: 0;
        margin-top: 20px;
    }

    .profile-container {
        margin-top: -50px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .profile-name {
        margin-top: 20px;
    }

    .profile-container img {
        margin-left: 0;
        margin-top: 10px;
    }

    .image-container .overlay-text {
        padding: 0px;
    }

    .image-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 20px;
    }

    .card-container p {
        margin: 10px;
    }
}

@media (max-width: 475px) {
    .first-divider {
        width: 400%;
    }

    .introducing h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .image-container {
        width: 90%;
    }
}

@media (max-width: 413px) {
    .first-divider {
        width: 450%;
    }
}

@media (max-width: 360px) {
    .introducing h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }


}